## Loading MATRIZ_MULTINIVEL.csv (All variables) and accidente_ofidico.csv (AO ocurrence variable)

In [88]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 500)

In [89]:


accidente_ofidico_path = "datos/accidente_ofidico.csv"
ao_df = pd.read_csv(accidente_ofidico_path)
variables_path = "datos/PLANTILLA_MULTINIVEL.csv"
variables_df = pd.read_csv(variables_path)
del variables_df['esperados']

In [90]:
#print(variables_df.head())
print(ao_df.head())

  Nombre municipio  Orden Departamento  Codigo DANE  PoblacionMunicipal 2005  \
0         MEDELLIN    559    ANTIOQUIA         5001                  2214494
1        ABEJORRAL      1    ANTIOQUIA         5002                    20249
2         ABRIAQUI      3    ANTIOQUIA         5004                     2690
3       ALEJANDRIA     23    ANTIOQUIA         5021                     3816
4            AMAGA     33    ANTIOQUIA         5030                    27155

   PoblacionMunicipal 2006  PoblacionMunicipal 2007  PoblacionMunicipal 2008  \
0                  2239003                  2265244                  2291378
1                    20113                    20022                    19930
2                     2636                     2570                     2504
3                     3789                     3747                     3724
4                    27455                    27709                    27950

   PoblacionMunicipal 2009  PoblacionMunicipal 2010  PoblacionMunicipal 2011  \
0                  2317336                  2343049                  2368282
1                    19853                    19750                    19672
2                     2458                     2397                     2336
3                     3688                     3652                     3618
4                    28192                    28433                    28664

   PoblacionMunicipal 2012  PoblacionMunicipal 2013  PoblacionMunicipal 2014  \
0                  2393011                  2417325                  2441123
1                    19570                    19478                    19382
2                     2290                     2231                     2175
3                     3575                     3550                     3502
4                    28897                    29117                    29339

   PoblacionMunicipal 2015  PoblacionMunicipal 2016  PoblacionMunicipal 2017  \
0                  2464322                  2486723                  2508452
1                    19290                    19195                    19096
2                     2128                     2075                     2019
3                     3466                     3435                     3393
4                    29555                    29770                    29980

   PoblacionMunicipal 2018  PoblacionMunicipal 2019  PoblacionMunicipal 2020  \
0                  2529403                  2549537                  2569007
1                    18991                    18882                    18779
2                     1971                     1918                     1870
3                     3361                     3307                     3278
4                    30181                    30376                    30561

   Total casos Enero de 2007  Total casos Febrero de 2007  \
0                          0                            0
1                          0                            0
2                          0                            0
3                          0                            0
4                          1                            0

   Total casos Marzo de 2007  Total casos Abril de 2007  \
0                          0                          0
1                          0                          0
2                          0                          0
3                          0                          0
4                          0                          0

   Total casos Mayo de 2007  Total casos Junio de 2007  \
0                         0                          0
1                         0                          0
2                         0                          0
3                         0                          0
4                         0                          0

   Total casos Julio de 2007  Total casos Agosto de 2007  \
0                          0                           0
1                          0                           0
2                          0                           0
3                          0                           0
4                          1                           0

   Total casos Septiembre de 2007  Total casos Octubre de 2007  \
0                               0                            0
1                               0                            0
2                               0                            0
3                               0                            0
4                               0                            0

   Total casos Noviembre de 2007  Total casos Diciembre de 2007  \
0                              0                              0
1                              0                              0
2                              0                              0
3                              0                              0
4                              0                              0

   Total casos Enero de 2008  Total casos Febrero de 2008  \
0                          0                            0
1                          0                            0
2                          0                            0
3                          0                            0
4                          0                            3

   Total casos Marzo de 2008  Total casos Abril de 2008  \
0                          0                          0
1                          0                          0
2                          0                          0
3                          0                          0
4                          1                          1

   Total casos Mayo de 2008  Total casos Junio de 2008  \
0                         2                          0
1                         1                          0
2                         0                          0
3                         0                          0
4                         0                          0

   Total casos Julio de 2008  Total casos Agosto de 2008  \
0                          1                           1
1                          0                           0
2                          0                           0
3                          0                           0
4                          0                           0

   Total casos Septiembre de 2008  Total casos Octubre de 2008  \
0                               1                            1
1                               0                            0
2                               0                            0
3                               0                            0
4                               0                            0

   Total casos Noviembre de 2008  Total casos Diciembre de 2008  \
0                              0                              0
1                              0                              0
2                              0                              0
3                              0                              0
4                              0                              0

   Total casos Enero de 2009  Total casos Febrero de 2009  \
0                          2                            0
1                          0                            0
2                          0                            0
3                          0                            0
4                          0                            0

   Total casos Marzo de 2009  Total casos Abril de 2009  \
0                          0                          3
1                          0                          0
2                          0                          1
3                          0                          0
4                          0                          0

   Total casos Mayo de 2009  Total casos Junio de 2009  \
0                         1                          1
1                         0                          0
2                         0                          1
3                         0                          0
4                         0                          0

   Total casos Julio de 2009  Total casos Agosto de 2009  \
0                          1                           2
1                          0                           0
2                          0                           0
3                          0                           0
4                          1                           0

   Total casos Septiembre de 2009  Total casos Octubre de 2009  \
0                               0                            0
1                               0                            0
2                               0                            0
3                               0                            0
4                               0                            0

   Total casos Noviembre de 2009  Total casos Diciembre de 2009  \
0                              1                              2
1                              0                              0
2                              0                              0
3                              0                              0
4                              0                              0

   Total casos Enero de 2010  Total casos Febrero de 2010  \
0                          1                            0
1                          2                            1
2                          0                            0
3                          0                            0
4                          0                            0

   Total casos Marzo de 2010  Total casos Abril de 2010  \
0                          0                          2
1                          3                          1
2                          0                          0
3                          0                          1
4                          0                          0

   Total casos Mayo de 2010  Total casos Junio de 2010  \
0                         2                          0
1                         2                          1
2                         0                          0
3                         1                          0
4                         0                          0

   Total casos Julio de 2010  Total casos Agosto de 2010  \
0                          0                           0
1                          1                           3
2                          0                           0
3                          0                           0
4                          0                           1

   Total casos Septiembre de 2010  Total casos Octubre de 2010  \
0                               2                            2
1                               0                            0
2                               0                            0
3                               0                            0
4                               0                            0

   Total casos Noviembre de 2010  Total casos Diciembre de 2010  \
0                              0                              0
1                              0                              2
2                              0                              0
3                              0                              0
4                              0                              0

   Total casos Enero de 2011  Total casos Febrero de 2011  \
0                          0                            0
1                          0                            0
2                          0                            0
3                          0                            0
4                          0                            0

   Total casos Marzo de 2011  Total casos Abril de 2011  \
0                          1                          0
1                          0                          0
2                          0                          0
3                          0                          0
4                          1                          0

   Total casos Mayo de 2011  Total casos Junio de 2011  \
0                         0                          0
1                         0                          0
2                         0                          0
3                         0                          0
4                         1                          0

   Total casos Julio de 2011  Total casos Agosto de 2011  \
0                          2                           0
1                          0                           0
2                          0                           0
3                          0                           0
4                          0                           0

   Total casos Septiembre de 2011  Total casos Octubre de 2011  \
0                               1                            0
1                               1                            0
2                               0                            0
3                               0                            1
4                               0                            0

   Total casos Noviembre de 2011  Total casos Diciembre de 2011  \
0                              0                              0
1                              0                              0
2                              0                              0
3                              0                              0
4                              0                              0

   Total casos Enero de 2012  Total casos Febrero de 2012  \
0                          0                            0
1                          0                            0
2                          1                            1
3                          2                            0
4                          2                            0

   Total casos Marzo de 2012  Total casos Abril de 2012  \
0                          0                          0
1                          0                          0
2                          1                          0
3                          0                          0
4                          0                          0

   Total casos Mayo de 2012  Total casos Junio de 2012  \
0                         0                          2
1                         0                          0
2                         0                          0
3                         0                          0
4                         0                          0

   Total casos Julio de 2012  Total casos Agosto de 2012  \
0                          1                           0
1                          1                           0
2                          0                           1
3                          0                           0
4                          0                           0

   Total casos Septiembre de 2012  Total casos Octubre de 2012  \
0                               1                            1
1                               0                            0
2                               0                            0
3                               1                            0
4                               0                            0

   Total casos Noviembre de 2012  Total casos Diciembre de 2012  \
0                              1                              1
1                              0                              0
2                              0                              0
3                              1                              0
4                              0                              0

   Total casos Enero de 2013  Total casos Febrero de 2013  \
0                          0                            0
1                          0                            0
2                          0                            0
3                          0                            0
4                          0                            0

   Total casos Marzo de 2013  Total casos Abril de 2013  \
0                          0                          0
1                          0                          0
2                          0                          0
3                          0                          0
4                          3                          0

   Total casos Mayo de 2013  Total casos Junio de 2013  \
0                         1                          0
1                         0                          0
2                         0                          0
3                         0                          0
4                         0                          0

   Total casos Julio de 2013  Total casos Agosto de 2013  \
0                          1                           0
1                          0                           0
2                          0                           0
3                          0                           0
4                          0                           0

   Total casos Septiembre de 2013  Total casos Octubre de 2013  \
0                               0                            1
1                               0                            0
2                               0                            0
3                               0                            0
4                               0                            0

   Total casos Noviembre de 2013  Total casos Diciembre de 2013  \
0                              1                              0
1                              0                              0
2                              0                              0
3                              0                              0
4                              0                              0

   Total casos Enero de 2014  Total casos Febrero de 2014  \
0                          1                            0
1                          0                            0
2                          0                            0
3                          0                            0
4                          0                            0

   Total casos Marzo de 2014  Total casos Abril de 2014  \
0                          0                          2
1                          0                          0
2                          0                          0
3                          0                          0
4                          0                          0

   Total casos Mayo de 2014  Total casos Junio de 2014  \
0                         0                          0
1                         1                          0
2                         0                          0
3                         0                          0
4                         1                          0

   Total casos Julio de 2014  Total casos Agosto de 2014  \
0                          1                           1
1                          0                           0
2                          0                           0
3                          0                           1
4                          0                           0

   Total casos Septiembre de 2014  Total casos Octubre de 2014  \
0                               1                            0
1                               0                            0
2                               0                            0
3                               0                            0
4                               0                            0

   Total casos Noviembre de 2014  Total casos Diciembre de 2014  \
0                              0                              1
1                              0                              0
2                              0                              0
3                              0                              0
4                              0                              0

   Total casos Enero de 2015  Total casos Febrero de 2015  \

## Join ao_df to variables_df

In [91]:
#selecting columns in data set with ao ocurrence in th whole period (2007 - 2016)
only_ocurrences = ao_df.iloc[:,20:140]
only_occurences_col = only_ocurrences.values.flatten()
variables_df['casos_'] = only_occurences_col
print(variables_df['casos_'])
variables_df.to_csv('pruebas.csv')

0         0
1         0
2         0
3         0
4         0
         ..
134635    1
134636    2
134637    1
134638    1
134639    0
Name: casos_, Length: 134640, dtype: int64

# Add total population

In [92]:
#Anadir poblacio  total al data set de variables
only_population = ao_df.iloc[:,6:16]
dfNewPopulation = only_population.iloc[:,0]
columsNames = ["poblacion_2007", "poblacion_2008", "poblacion_2009", "poblacion_2010", "poblacion_2011", 
               "poblacion_2012", "poblacion_2013", "poblacion_2014", "poblacion_2015", "poblacion_2016"]

for i in range(len(columsNames)):
    thisColum = only_population.iloc[:,i]
    if i==0:
        d=11
    else:
        d=12
    for j in range(d):
        dfNewPopulation = pd.concat([dfNewPopulation, thisColum], axis=1)

dfNewPopulation.to_csv('total_poblacion.csv', encoding='latin-1')

#selecting columns in data set with ao ocurrence in th whole period (2007 - 2016)
only_population_col = dfNewPopulation.values.flatten()
variables_df['total_poblacion'] = only_population_col
variables_df.to_csv('total_variables_data_set.csv', encoding='latin-1')

# Adding tempProm and precProm columns

In [94]:
# Abriir los dos archivos (multinivel y temp y prec promedios multianuales mensuales)
variables_path = "datos/MULTINIVEL_AO.csv"
variables_df = pd.read_csv(variables_path, encoding='latin-1')
temPrec_path = "datos/final_data_table_r.csv"
temPrec_df = pd.read_csv(temPrec_path, encoding='latin-1')
temPrec_df.head()

,Unnamed: 0,ID,Codigo DANE,Año,Mes,Fecha,Número de mes,Codigo DANE-mes,Temperatura,Temperatura1,Temperatura2,Temperatura3,Temperatura4,Temperatura5,Temperatura6,Precipitación,Precipitación1,Precipitación2,Precipitación3,Precipitación4,Precipitación5,Precipitación6,AltTemp,AltTemp1,AltTemp2,AltTemp3,AltTemp4,AltTemp5,AltTemp6,AltPrec,AltPrec1,AltPrec2,AltPrec3,AltPrec4,AltPrec5,AltPrec6,altTempNiño-ene07-feb07,altPrecNiño-ene07-feb07,altTempNeutro-mar07-may07,altPrecNeutro-mar07-may07,altTempNiña-jun07-jul08,altPrecNiña-jun07-jul08,altTempNeutro-ago08-may09,altPrecNeutro-ago08-may09,altTempNiño-jun09-may10,altPrecNiño-jun09-may10,altTempNiña-jun10-jun11,altPrecNiña-jun10-jun11,altTempNiña-jul11-abr12,altPrecNiña-jul11-abr12,altTempNeutro-may12-ene15,altPrecNeutro-may12-ene15,altTempNiño-feb15-may16,altPrecNiño-feb15-may16,altTempNeuto-jun16-jun16,altPrecNeuto-jun16-jun16,altTempNiñajul16-dic16,altPrecNiñajul16-dic16,PromedioTemp,PromedioPrec
0,1,110,11001,2007,1,200701,1,11001001,9.262607,NaN,NaN,NaN,NaN,NaN,NaN,58.428918,NaN,NaN,NaN,NaN,NaN,NaN,-0.767311,NaN,NaN,NaN,NaN,NaN,NaN,0.870360,NaN,NaN,NaN,NaN,NaN,NaN,-1.014064,1.087282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.029919,68.133610
1,2,110,11001,2007,2,200702,2,11001002,8.899696,9.262607,NaN,NaN,NaN,NaN,NaN,53.006209,58.428918,NaN,NaN,NaN,NaN,NaN,-1.418931,-0.767311,NaN,NaN,NaN,NaN,NaN,0.520555,0.870360,NaN,NaN,NaN,NaN,NaN,-1.014064,1.087282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.318627,102.021679
2,3,110,11001,2007,3,200703,3,11001003,9.275920,8.899696,9.262607,NaN,NaN,NaN,NaN,202.807211,53.006209,58.428918,NaN,NaN,NaN,NaN,-1.140889,-1.418931,-0.767311,NaN,NaN,NaN,NaN,1.368725,0.520555,0.870360,NaN,NaN,NaN,NaN,NaN,NaN,-1.013931,1.093492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.416810,148.918955
3,4,110,11001,2007,4,200704,4,11001004,9.252278,9.275920,8.899696,9.262607,NaN,NaN,NaN,329.588129,202.807211,53.006209,58.428918,NaN,NaN,NaN,-0.823730,-1.140889,-1.418931,-0.767311,NaN,NaN,NaN,1.378657,1.368725,0.520555,0.870360,NaN,NaN,NaN,NaN,NaN,-1.013931,1.093492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.076008,239.569121
4,5,110,11001,2007,5,200705,5,11001005,8.820130,9.252278,9.275920,8.899696,9.262607,NaN,NaN,259.120257,329.588129,202.807211,53.006209,58.428918,NaN,NaN,-1.065038,-0.823730,-1.140889,-1.418931,-0.767311,NaN,NaN,1.046879,1.378657,1.368725,0.520555,0.87036,NaN,NaN,NaN,NaN,-1.013931,1.093492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.885168,247.899385

In [95]:

temPrec_df.set_index('Codigo DANE-mes', inplace=True)
temPrec_df

,Unnamed: 0,ID,Codigo DANE,Año,Mes,Fecha,Número de mes,Temperatura,Temperatura1,Temperatura2,Temperatura3,Temperatura4,Temperatura5,Temperatura6,Precipitación,Precipitación1,Precipitación2,Precipitación3,Precipitación4,Precipitación5,Precipitación6,AltTemp,AltTemp1,AltTemp2,AltTemp3,AltTemp4,AltTemp5,AltTemp6,AltPrec,AltPrec1,AltPrec2,AltPrec3,AltPrec4,AltPrec5,AltPrec6,altTempNiño-ene07-feb07,altPrecNiño-ene07-feb07,altTempNeutro-mar07-may07,altPrecNeutro-mar07-may07,altTempNiña-jun07-jul08,altPrecNiña-jun07-jul08,altTempNeutro-ago08-may09,altPrecNeutro-ago08-may09,altTempNiño-jun09-may10,altPrecNiño-jun09-may10,altTempNiña-jun10-jun11,altPrecNiña-jun10-jun11,altTempNiña-jul11-abr12,altPrecNiña-jul11-abr12,altTempNeutro-may12-ene15,altPrecNeutro-may12-ene15,altTempNiño-feb15-may16,altPrecNiño-feb15-may16,altTempNeuto-jun16-jun16,altPrecNeuto-jun16-jun16,altTempNiñajul16-dic16,altPrecNiñajul16-dic16,PromedioTemp,PromedioPrec
Codigo DANE-mes,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
11001001,1,110,11001,2007,1,200701,1,9.262607,NaN,NaN,NaN,NaN,NaN,NaN,58.428918,NaN,NaN,NaN,NaN,NaN,NaN,-0.767311,NaN,NaN,NaN,NaN,NaN,NaN,0.870360,NaN,NaN,NaN,NaN,NaN,NaN,-1.014064,1.087282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.029919,68.133610
11001002,2,110,11001,2007,2,200702,2,8.899696,9.262607,NaN,NaN,NaN,NaN,NaN,53.006209,58.428918,NaN,NaN,NaN,NaN,NaN,-1.418931,-0.767311,NaN,NaN,NaN,NaN,NaN,0.520555,0.870360,NaN,NaN,NaN,NaN,NaN,-1.014064,1.087282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.318627,102.021679
11001003,3,110,11001,2007,3,200703,3,9.275920,8.899696,9.262607,NaN,NaN,NaN,NaN,202.807211,53.006209,58.428918,NaN,NaN,NaN,NaN,-1.140889,-1.418931,-0.767311,NaN,NaN,NaN,NaN,1.368725,0.520555,0.870360,NaN,NaN,NaN,NaN,NaN,NaN,-1.013931,1.093492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.416810,148.918955
11001004,4,110,11001,2007,4,200704,4,9.252278,9.275920,8.899696,9.262607,NaN,NaN,NaN,329.588129,202.807211,53.006209,58.428918,NaN,NaN,NaN,-0.823730,-1.140889,-1.418931,-0.767311,NaN,NaN,NaN,1.378657,1.368725,0.520555,0.870360,NaN,NaN,NaN,NaN,NaN,-1.013931,1.093492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.076008,239.569121
11001005,5,110,11001,2007,5,200705,5,8.820130,9.252278,9.275920,8.899696,9.262607,NaN,NaN,259.120257,329.588129,202.807211,53.006209,58.428918,NaN,NaN,-1.065038,-0.823730,-1.140889,-1.418931,-0.767311,NaN,NaN,1.046879,1.378657,1.368725,0.520555,0.870360,NaN,NaN,NaN,NaN,-1.013931,1.093492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.885168,247.899385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99773116,134636,272,99773,2016,8,201608,116,25.045145,24.268655,24.528966,25.237302,26.050564,27.720454,27.434625,217.035855,376.532102,402.184425,330.979869,448.829009,237.508734,128.186183,-0.359965,-0.682865,-0.634577,-0.640345,-0.682049,-0.025854,-0.473511,0.712617,0.973912,0.948080,0.961001,1.799783,1.987641,1.926152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.285969,1.055857,25.405110,301.488028
99773117,134637,272,99773,2016,9,201609,117,25.475409,25.045145,24.268655,24.528966,25.237302,26.050564,27.720454,248.788452,217.035855,376.532102,402.184425,330.979869,448.829009,237.508734,-0.579348,-0.359965,-0.682865,-0.634577,-0.640345,-0.682049,-0.025854,0.931329,0.712617,0.973912,0.948080,0.961001,1.799783,1.987641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.285969,1.055857,26.054757,267.600537
99773118,134638,272,99773,2016,10,201610,118,26.013705,25.475409,25.045145,24.268655,24.528966,25.237302,26.050564,263.542057,248.788452,217.035855,376.532102,402.184425,330.979869,448.829009,-0.414288,-0.579348,-0.359965,-0.682865,-0.634577,-0.640345,-0.682049,1.170278,0.931329,0.712617,0.973912,0.948080,0.961001,1.799783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.285969,1.055857,26.427993,227.393699
99773119,134639,272,99773,2016,11,201611,119,25.900945,26.013705,25.475409,25.045145,24.268655,24.528966,25.237302,244.993734,263.542057,248.788452,217.035855,376.532102,402.184425,330.979869,-0.625908,-0.414288,-0.579348,-0.359965,-0.682865,-0.634577,-0.640345,1.306999,1.170278,0.931329,0.712617,0.973912,0.948080,0.961001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.285969,1.055857,26.526854,189.540958
99773120,134640,272,99773,2016,12,201612,120,24.882416,25.900945,26.013705,25.475409,25.045145,24.268655,24.528966,222.211152,244.993734,263.542057,248.788452,217.035855,376.532102,402.184425,-1.715014,-0.625908,-0.414288,-0.579348,-0.359965,-0.682865,-0.634577,2.410398,1.306999,1.170278,0.931329,0.712617,0.973912,0.948080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.285969,1.055857,26.597431,93.682970

In [96]:
#Guarda columna danemes en variable index para luego agregarla al df y asiganarla como el indice del mismo
index = variables_df['danemes'].copy(deep = True)
variables_df['Index'] = index
variables_df.set_index('Index',inplace=True)
variables_df.index

Int64Index([ 5001001,  5001002,  5001003,  5001004,  5001005,  5001006,
             5001007,  5001008,  5001009,  5001010,
            ...
            99773111, 99773112, 99773113, 99773114, 99773115, 99773116,
            99773117, 99773118, 99773119, 99773120],
           dtype='int64', name='Index', length=134640)

In [97]:
#Agrega las columnas promedio temperatura y precipitación de R al df multinivel
df = variables_df.merge(temPrec_df[['PromedioTemp','PromedioPrec']], left_index=True, right_index=True)
df.head()

,Unnamed: 0,ordensatscan,ordenstata,cod_munici,nombremunicipio,cod_deparata,departamento,cod_region,region,casos_,fecha,año,periodo,month,bimestre,mes,mmyy,danemes,codepisodioONI,ONI,intensidadONI,codintensidadONI,antropica,bosques,cultipermanentes,cultitransitorios,herbazales,mosaico,pastos,vegetasecundaria,zonasacuaticas,otrascoberturas,arido,seco,humedo,pluvial,msnm,minmsnm,maxmsnm,rangomsnm,deforestacion,cuerposdeagua,zonasinundables,zonassusceptiblesdeinundacin,temppromedio,mintemperatura,maxtemperatura,cmprecipitaprom,cmminprecipitacion,cmmaxprecipitacion,coberturaeducacion,saberpro,analfabetismo,mortalidadinfantil,vacunacion,acueducto,deficitviviendacualitativo,deficitviviendacuantitativo,dimencalidaddevida,pob_resto/pob_total,densidadpoblacion,crecimipoblacion,penetracioninternet,dimenurbana,ingresotributario,ingresosmunicipales,dispariedadeconomica,ipm,dimeneconomica,homicidios100k,secuestros100k,hurtos100k,coca,dimseguri,Temperatura,Temperatura1,Temperatura2,Temperatura3,Temperatura4,Temperatura5,Temperatura6,Precipitación,Precipitación1,Precipitación2,Precipitación3,Precipitación4,Precipitación5,Precipitación6,AltTemp,AltTemp1,AltTemp2,AltTemp3,AltTemp4,AltTemp5,AltTemp6,AltPrec,AltPrec1,AltPrec2,AltPrec3,AltPrec4,AltPrec5,AltPrec6,altTempNiño-ene07-feb07,altPrecNiño-ene07-feb07,altTempNeutro-mar07-may07,altPrecNeutro-mar07-may07,altTempNiña-jun07-jul08,altPrecNiña-jun07-jul08,altTempNeutro-ago08-may09,altPrecNeutro-ago08-may09,altTempNiño-jun09-may10,altPrecNiño-jun09-may10,altTempNiña-jun10-jun11,altPrecNiña-jun10-jun11,altTempNiña-jul11-abr12,altPrecNiña-jul11-abr12,altTempNeutro-may12-ene15,altPrecNeutro-may12-ene15,altTempNiño-feb15-may16,altPrecNiño-feb15-may16,altTempNeuto-jun16-jun16,altPrecNeuto-jun16-jun16,altTempNiñajul16-dic16,altPrecNiñajul16-dic16,total_poblacion,PromedioTemp,PromedioPrec
5001001,0,1,1,5001,MEDELLIN,5,ANTIOQUIA,2,Andina,0,01/01/2007,2007,1,jan,1,1,Jan-07,5001001,2,Ni¤o,Debil,1,31.909668,17.627031,0.41989,0.0,2.15523,16.139624,19.920835,11.475942,0.310049,0.041732,0.0,64.677795,35.322208,0.0,2238.461426,1200,3000,1800,2.659573,0.321195,0.0,0.321195,16.826923,13.4,21.5,213.3199,197.602158,229.037628,0.57,46.042015,0.041422,13.543017,0.878,0.974076,0.0727,0.0673,0.788438,0.012436,6307.811523,0.041857,0.174289,1.0,460.079987,1837877.75,1.77976,0.323973,1.0,52.068295,0.417884,353.487732,0.0,0.450000,15.572588,NaN,NaN,NaN,NaN,NaN,NaN,175.124096,NaN,NaN,NaN,NaN,NaN,NaN,-0.699852,NaN,NaN,NaN,NaN,NaN,NaN,1.347751,NaN,NaN,NaN,NaN,NaN,NaN,-2.111951,1.227357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2265244,16.272441,129.924380
5001002,1,1123,2,5001,MEDELLIN,5,ANTIOQUIA,2,Andina,0,01/02/2007,2007,2,feb,1,2,feb-07,5001002,2,Ni¤o,Debil,1,31.909668,17.627031,0.41989,0.0,2.15523,16.139624,19.920835,11.475942,0.310049,0.041732,0.0,64.677795,35.322208,0.0,2238.461426,1200,3000,1800,2.659573,0.321195,0.0,0.321195,16.826923,13.4,21.5,213.3199,197.602158,229.037628,0.57,46.042015,0.041422,13.543017,0.878,0.974076,0.0727,0.0673,0.788438,0.012436,6307.811523,0.041857,0.174289,1.0,460.079987,1837877.75,1.77976,0.323973,1.0,52.068295,0.417884,353.487732,0.0,0.446714,14.801041,15.572588,NaN,NaN,NaN,NaN,NaN,65.473509,175.124096,NaN,NaN,NaN,NaN,NaN,-1.811917,-0.699852,NaN,NaN,NaN,NaN,NaN,0.460112,1.347751,NaN,NaN,NaN,NaN,NaN,-2.111951,1.227357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2265244,16.612959,142.411518
5001003,2,2245,3,5001,MEDELLIN,5,ANTIOQUIA,2,Andina,0,01/03/2007,2007,3,mar,2,3,mar-07,5001003,0,Neutro,Ninguna,0,31.909668,17.627031,0.41989,0.0,2.15523,16.139624,19.920835,11.475942,0.310049,0.041732,0.0,64.677795,35.322208,0.0,2238.461426,1200,3000,1800,2.659573,0.321195,0.0,0.321195,16.826923,13.4,21.5,213.3199,197.602158,229.037628,0.57,46.042015,0.041422,13.543017,0.878,0.974076,0.0727,0.0673,0.788438,0.012436,6307.811523,0.041857,0.174289,1.0,460.079987,1837877.75,1.77976,0.323973,1.0,52.068295,0.417884,353.487732,0.0,0.446714,15.766031,14.801041,15.572588,NaN,NaN,NaN,NaN,260.088027,65.473509,175.124096,NaN,NaN,NaN,NaN,-1.047508,-1.811917,-0.699852,NaN,NaN,NaN,NaN,1.433926,0.460112,1.347751,NaN,NaN,NaN,NaN,NaN,NaN,-2.077455,1.235935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2265244,16.813539,181.457599
5001004,3,3367,4,5001,MEDELLIN,5,ANTIOQUIA,2,Andina,0,01/04/2007,2007,4,apr,2,4,Apr-07,5001004,0,Neutro,Ninguna,0,31.909668,17.627031,0.41989,0.0,2.15523,16.139624,19.920835,11.475942,0.310049,0.041732,0.0,64.677795,35.322208,0.0,2238.461426,1200,3000,1800,2.659573,0.321195,0.0,0.321195,16.826923,13.4,21.5,213.3199,197.602158,229.037628,0.57,46.042015,0.041422,13.543017,0.878,0.974076,0.0727,0.0673,0.788438,0.012436,6307.811523,0.041857,0.174289,1.0,460.079987,1837877.75,1.77976,0.323973,1.0,52.068295,0.417884,353.487732,0.0,0.446714,15.517425,15.766031,14.801041,15.572588,NaN,NaN,NaN,415.745976,260.088027,65.473509,175.124096,NaN,NaN,NaN,-1.250057,-1.047508,-1.811917,-0.699852,NaN,NaN,NaN,1.505584,1.433926,0.460112,1.347751,NaN,NaN,NaN,NaN,NaN,-2.077455,1.235935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2265244,16.767482,276.143735
5001005,4,4489,5,5001,MEDELLIN,5,ANTIOQUIA,2,Andina,0,01/05/2007,2007,5,may,3,5,may-07,5001005,0,Neutro,Ninguna,0,31.909668,17.627031,0.41989,0.0,2.15523,16.139624,19.920835,11.475942,0.310049,0.041732,0.0,64.677795,35.322208,0.0,2238.461426,1200,3000,1800,2.659573,0.321195,0.0,0.321195,16.826923,13.4,21.5,213.3199,197.602158,229.037628,0.57,46.042015,0.041422,13.543017,0.878,0.974076,0.0727,0.0673,0.788438,0.012436,6307.811523,0.041857,0.174289,1.0,460.079987,1837877.75,1.77976,0.323973,1.0,52.068295,0.417884,353.487732,0.0,0.446714,15.857047,15.517425,15.766031,14.801041,15.572588,NaN,NaN,446.589144,415.745976,260.088027,65.473509,175.124096,NaN,NaN,-0.795646,-1.250057,-1.047508,-1.811917,-0.699852,NaN,NaN,1.441613,1.505584,1.433926,0.460112,1.347751,NaN,NaN,NaN,NaN,-2.077455,1.235935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2265244,16.652692,309.812335

## Code for testing mergin dataframes

In [98]:
index_values = df.index
import random
samples_random = 2000
random_index_values = random.sample(list(index_values), 2000)
validation = True
validation_column = 'PromedioPrec'

for sample in index_values:
    df1_value = df[validation_column][sample]
    df2_value = temPrec_df[validation_column][sample]
    if not(np.isnan(df1_value) and np.isnan(df2_value)):
        if df1_value != df2_value:
            validation = False
            break
            
print(validation)

True

In [99]:
df.to_csv('data.csv')

# Validación columna total_poblacion

In [126]:
ao_df.set_index('Codigo DANE', inplace=True)
columns_dict = {"2007": "PoblacionMunicipal 2007", "2008":"PoblacionMunicipal 2008", "2009":"PoblacionMunicipal 2009", "2010":"PoblacionMunicipal 2010", "2011":"PoblacionMunicipal 2011", 
               "2012":"PoblacionMunicipal 2012", "2013":"PoblacionMunicipal 2013", "2014":"PoblacionMunicipal 2014", "2015":"PoblacionMunicipal 2015", "2016":"PoblacionMunicipal 2016"}
validation = True
for i in range(df['total_poblacion'].size):
    year = df['año'].iloc[i]
    cod_muni = df['cod_munici'].iloc[i]
    original_df_pob_value = ao_df[columns_dict[str(year)]][cod_muni]
    if(df['total_poblacion'].iloc[i] == original_df_pob_value):
        pass
    else:
        validation = False
        break
print(validation)

True

# Validación columna casos_

In [131]:
#Descomentar si no se ejecuto la selda pasasda
#ao_df.set_index('Codigo DANE', inplace=True)
columns_dict = {"1": "Enero", "2":"Febrero", "3":"Marzo", "4":"Abril", "5":"Mayo", 
               "6":"Junio", "7":"Julio", "8":"Agosto", "9":"Septiembre", "10":"Octubre", "11":"Noviembre", "12":"Diciembre"}
validation = True
for i in range(df['casos_'].size):
    year = df['año'].iloc[i]
    cod_muni = df['cod_munici'].iloc[i]
    month = df['mes'].iloc[i]
    column_name = "Total casos " + columns_dict[str(month)] + " de " + str(year)
    original_df_pob_value = ao_df[column_name][cod_muni]
    if(df['casos_'].iloc[i] == original_df_pob_value):
        pass
    else:
        validation = False
        print(i)
        print(df['total_poblacion'].iloc[i])
        print(original_df_pob_value)
        break
print(validation)

True